<div class="hero-wrapper-login">
  <div class="hero-content-wrapper-login">
    <div class="hero-container-login">
       <div class="hero-content-inner-login">
        {% form 'reset_customer_password' %}
          {%- if form.errors -%}
              {{ form.errors | default_errors }}
          {%- endif -%}
          <div class="form-heading-forgot-pw">Enter a new password.</div>
          <input type="password" value="" class="form-input-login w-input" name="customer[password]"  placeholder="password" id="ResetPassword" required="">
          <input type="password" value="" class="form-input-login form-input-login-no-margin w-input" name="customer[password_confirmation]" placeholder="Password" id="PasswordConfirmation" required="">
          <div class="form-btn-wrapper-login"><input type="submit" value="Submit" data-wait="Please wait..." class="form-btn-login w-button"></div>
        {% endform %}
      </div>  
    </div>
  </div>
</div>        


{% comment %}

<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--one-half medium-up--push-one-quarter">
      <div class="section-header">
        <div class="form-vertical">
          {% form 'reset_customer_password' %}

            <h1 class="text-center">{{ 'customer.reset_password.title' | t }}</h1>

            <p class="text-center">{{ 'customer.reset_password.subtext' | t: email: email }}</p>

            {%- if form.errors -%}
              <div class="form-message form-message--error">
                {{ form.errors | default_errors }}
              </div>
            {%- endif -%}

            <label for="ResetPassword">{{ 'customer.reset_password.password' | t }}</label>
            <input type="password" value="" name="customer[password]" id="ResetPassword" class="{% if form.errors contains 'password' %} input--error{% endif %}">

            <label for="PasswordConfirmation">{{ 'customer.reset_password.password_confirm' | t }}</label>
            <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="{% if form.errors contains 'password_confirmation' %} input--error{% endif %}">

            <input type="submit" class="btn text-center" value="{{ 'customer.reset_password.submit' | t }}">
          {% endform %}
        </div>

      </div>
    </div>
  </div>
</div>
{% endcomment %}