

<div class="banner-section-home-sk alt banner-section-home-sk-{{section.id}}">
<a {%if section.settings.section_url%}href="{{section.settings.section_url}}"{%endif%} class="image-link-overlay">
    <div class="banner-content-wrapper flex">
  
      
      <div class="banner-img-left mobile">
        <h3 class="section-heading center mobile" style="color: {{section.settings.banner-section-1-color}};">{{section.settings.banner-section-1-heading}}</h3>
        <img class="banner-img-mobile" src="{{ section.settings.bg_image_mobile | img_url: '1200x' }}">
      </div>
  
  

      <div class="banner-content-wrapper">
        <div class="banner-container-home-sm" style="justify-content: {{section.settings.text_placement}};">
          <div class="banner-content-inner" style="text-align: {{section.settings.text_align}}" data-ix="fadeinleft">
            <div class="banner-heading-wrapper">
              <h3 class="w-basic-heading section-heading mobile-hidden" id="banner-section-1-heading" style="color: {{section.settings.banner-section-1-color}};">{{section.settings.banner-section-1-heading}}</h3>
            </div>
            <div class="banner-text-wrapper">
              <p class="banner-text secondary" id="banner-section-1-label">{{section.settings.banner-section-1-label}}</p>
              <p class="banner-text black" id="banner-section-1-sub-heading" >{{section.settings.banner-section-1-sub-heading}}</p>
            </div>
            {% unless section.settings.hide_btn %}
            <div class="banner-btn-wrapper">
              <a href="{{section.settings.banner-section-1-btn-link}}" class="btn-main w-button" id="banner-section-1-btn" style="background-color: {{section.settings.banner-section-1-btn-color}};" >{{section.settings.banner-section-1-btn-text}}</a>
            </div>
            {%endunless%}
          </div>
        </div>
      </div>



      




    </div>
    </a>
</div>
  
  
  {% if section.settings.bg_image %}
    <style type="text/css">
      .banner-section-home-sk.banner-section-home-sk-{{section.id}} {
        background-image: url({{ section.settings.bg_image | img_url: '1800x' }});
        background-position: 50% 50%;
      }
    </style>

  {% endif %}
  
  {% if section.settings.bg_image_mobile %}
    <style type="text/css">
     
  
       .banner-img-mobile {
         background-image: url({{ section.settings.bg_image_mobile | img_url: '1200x' }});
         background-position: 50% 50%;
       }
  
      
    </style>
  {% endif %}
  
  
  {% schema %}
  {
    "name": "Image Banner 1",
    "settings": [
        {
           "type": "image_picker",
           "id": "bg_image",
           "label": "Background Image"
        },
        {
           "type": "image_picker",
           "id": "bg_image_mobile",
           "label": "Mobile Background Image"
        },
        {
           "type": "url",
           "id": "section_url",
           "label": "Section URL"
        },
        {
          "type": "text",
          "id": "banner-section-1-heading",
          "label": "Main Heading",
          "default": "Give Your Retail a Real #GlowUP"
        },
        {
          "type":      "color",
          "id":        "banner-section-1-color",
          "label":     "Heading Color",
          "default":   "#000000"
        },
        {
          "type": "text",
          "id": "banner-section-1-label",
          "label": "Product Label",
          "default": "Bikini Brightening Serum"
        },
        {
          "type": "text",
          "id": "banner-section-1-sub-heading",
          "label": "Sub Heading",
          "default": "Get our latest creation and let this luxurious oil serum do its work on your hyperpigmentation and scarring"
        },
        {
          "type": "text",
          "id": "banner-section-1-btn-text",
          "label": "Button Text",
          "default": "SHOP NOW"
        },
        {
          "type": "checkbox",
          "id": "hide_btn",
          "label": "Hide Banner Button"
        },
        
        {
          "type": "url",
          "id": "banner-section-1-btn-link",
          "label": "Button Link"
        },
        {
          "type":      "color",
          "id":        "banner-section-1-btn-color",
          "label":     "Button Color",
          "default":   "#000000"
        },
        {
            "type": "radio",
            "id": "text_placement",
            "options": [
              { "value": "center", "label": "Center"},
              { "value": "left", "label": "Left"},
              { "value": "right", "label": "Right"}
            ],
            "default":   "right",
            "label": "Text Placement"
        },
        {
            "type": "radio",
            "id": "text_align",
            "options": [
              { "value": "center", "label": "Center"},
              { "value": "left", "label": "Left"},
              { "value": "right", "label": "Right"}
            ],
            "default": "center",
            "label": "Text Align"
        }
  
    ]
  }
  {% endschema %}
  
  
  